<article>
<header><%= @post.title %></header>
<div class="post-date"><span>Postado em: </span><%= @post.created_at.strftime("%d/%m/%Y") %></div>
<div class="post-message"><%= @post.message %></div>
</article>

<div><span><%= link_to 'Voltar', root_url %></span></div>